<%- include('comm/header') -%>
        <!--====== End Header ======-->
        <!--====== Start breadcrumbs-section section ======-->
        <section class="breadcrumbs-section bg_cover" style="background-image: url(assets/images/bg/breadcrumbs-bg.jpg);">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="breadcrumbs-content text-center">
                            <h1>About Us</h1>
                            <ul class="link">
                                <li><a href="/">Home</a></li>
                                <li class="active">Contact Us</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--====== End breadcrumbs-section section ======-->
        <!--====== Start About section ======-->
        <section class="about-area-v3 pt-120 pb-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="about-img mb-60">
                            <img src="assets/images/about/about-3.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-content-box mb-60">
                            <div class="section-title section-title-left" >
                                <span class="span">Our Support</span>
                                <h2>Provide Best Business Solutions For You</h2>
                            </div>
                            <p>Making it simpler and more efficient for your customers to get in touch with your company and offering them tools to make their life easier while using your products or services can be a great reason to develop a mobile app or website.</p>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="info-box mb-25 d-flex align-items-center">
                                        <div class="icon">
                                            <i class="fas fa-check"></i>
                                        </div>
                                        <div class="info">
                                            <h6>Information Technology</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="info-box mb-25 d-flex align-items-center">
                                        <div class="icon">
                                            <i class="fas fa-check"></i>
                                        </div>
                                        <div class="info">
                                            <h6>Planning & Strategy</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="info-box mb-25 d-flex align-items-center">
                                        <div class="icon">
                                            <i class="fas fa-check"></i>
                                        </div>
                                        <div class="info">
                                            <h6>100% Client Satisfaction</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="info-box mb-25 d-flex align-items-center">
                                        <div class="icon">
                                            <i class="fas fa-check"></i>
                                        </div>
                                        <div class="info">
                                            <h6>24/7 Customer Support</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ul class="button">
                                <li><a href="about.html" class="main-btn">More About Us</a></li>
                                <li><a href="tel:+919421601260" class="phone"><i class="fas fa-phone"></i>(+91)9421 601260</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--====== End About section ======-->
        <!--====== Start Counter-area section ======-->
        <!-- <section class="counter-area-v2 pb-120">
            <div class="container">
                <div class="row counter-wrapper">
                    <div class="col-lg-3 col-md-6 col-sm-12 counter-column">
                        <div class="counter-item text-center">
                            <div class="icon">
                                <i class="flaticon-businessman"></i>
                            </div>
                            <div class="content">
                                <h2><span class="counter">3800</span>+</h2>
                                <p class="title">Happy Customer</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 counter-column">
                        <div class="counter-item text-center">
                            <div class="icon">
                                <i class="flaticon-suitcase"></i>
                            </div>
                            <div class="content">
                                <h2><span class="counter">2832</span>+</h2>
                                <p class="title">Completed Project</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 counter-column">
                        <div class="counter-item text-center">
                            <div class="icon">
                                <i class="flaticon-comments"></i>
                            </div>
                            <div class="content">
                                <h2><span class="counter">280</span>+</h2>
                                <p class="title">Team Member</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 counter-column">
                        <div class="counter-item text-center">
                            <div class="icon">
                                <i class="flaticon-medal"></i>
                            </div>
                            <div class="content">
                                <h2><span class="counter">98</span>+</h2>
                                <p class="title">Getting Award</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <!--====== End Counter-area section ======-->
        <!--====== Start Features section ======-->
        <section class="features-area-v2 features-area-v4 bg_cover pb-70" style="background-image: url(assets/images/bg/features-bg-one.jpg);">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="section-title text-center mb-40">
                            <span class="span">How Does It Works</span>
                            <h2>Working Process</h2>
                        </div>
                    </div>
                </div>
                <div class="row features-wrapper">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="features-item text-center mb-40">
                            <div class="img">
                                <img src="assets/images/features/work-1.jpg" alt="">
                            </div>
                            <div class="info">
                                <h4>User Reaserch</h4>
                                <p>User research focuses on understanding user behaviors, needs, and motivations through observation techniques, task analysis, and other feedback methodologies.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="features-item text-center mb-40">
                            <div class="img">
                                <img src="assets/images/features/work-2.jpg" alt="">
                            </div>
                            <div class="info">
                                <h4>Market Analysis</h4>
                                <p>A market analysis is a quantitative and qualitative assessment of a market. It looks into the size of the market both in volume and in value, the various customer segments and buying patterns, the competition, and the economic environment in terms of barriers to entry and regulation.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="features-item text-center mb-40">
                            <div class="img">
                                <img src="assets/images/features/work-3.jpg" alt="">
                            </div>
                            <div class="info">
                                <h4>Business Growth</h4>
                                <p>Business Growth is a stage where the business reaches the point for expansion and seeks additional options to generate more profit.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="features-item text-center mb-40">
                            <div class="img">
                                <img src="assets/images/features/work-4.jpg" alt="">
                            </div>
                            <div class="info">
                                <h4>Reach Target</h4>
                                <p>A target audience is the intended audience or readership of a publication, advertisement, or other message catered specifically to said intended audience.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--====== End Features section ======-->
        <!--====== Start Team section ======-->
        <!-- <section class="team-area-v1 pt-110 pb-100">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="section-title text-center mb-30">
                            <span class="span">Meet Our Team</span>
                            <h2>Our Creative Leaders</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="team-item mb-30 text-center">
                            <div class="team-img">
                                <img src="assets/images/team/team-1.jpg" alt="">
                            </div>
                            <div class="team-info">
                                <h4>Kelvim D. Martino</h4>
                                <p class="position">CEO & Co Founder</p>
                                <ul class="social-link">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="team-item mb-30 text-center">
                            <div class="team-img">
                                <img src="assets/images/team/team-2.jpg" alt="">
                            </div>
                            <div class="team-info">
                                <h4>Mostofa Kamal</h4>
                                <p class="position">Web Developer</p>
                                <ul class="social-link">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="team-item mb-30 text-center">
                            <div class="team-img">
                                <img src="assets/images/team/team-3.jpg" alt="">
                            </div>
                            <div class="team-info">
                                <h4>Shamim Hossain</h4>
                                <p class="position">UI/UX Designer</p>
                                <ul class="social-link">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <!--====== End Team section ======-->
        <!--====== Start Features section ======-->
        <section class="features-area-v3 pt-120 pb-60">
            <div class="features-bg bg_cover" style="background-image: url(assets/images/bg/features-bg-two.jpg);"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="features-img mb-60">
                            <img src="assets/images/features/features-1.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="features-content-box mb-60">
                            <div class="section-title section-title-left section-white-title">
                                <span class="span">Why Choose Octaright</span>
                                <h2>We Are Trusted By More
                                    Than 3k+ Customers</h2>
                            </div>
                            <p>We have been a visionary and a reliable software engineering partner for world class brands a boutique digital for transformation.</p>
                            <div class="features-item">
                                <div class="chart_1" data-percent="90">
                                    <h2><span class="counter">90</span>%</h2>
                                </div>
                                <div class="info">
                                    <h4>Satisfied Customers</h4>
                                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolor.</p> -->
                                </div>
                            </div>
                            <div class="features-item">
                                <div class="chart_1" data-percent="90">
                                    <h2><span class="counter">81</span>%</h2>
                                </div>
                                <div class="info">
                                    <h4>Completed Project Successfully</h4>
                                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolor.</p> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!--====== End Features section ======-->
        <!--====== Start Faq section ======-->
        <section class="bebsa-faq-v1 pt-110 pb-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="section-title mb-55">
                            <span class="span">WHY US?</span>
                            <h2>Reasons Your Business Needs Us..</h2>
                        </div>
                        <div class="faq-wrapper">
                            <div class="accordion" id="accordionone">
                                <div class="card mb-30">
                                    <a class="collapsed card-header" id="heading1" href="#" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                        Customer service and support.<span class="toggle_btn"></span>
                                    </a>
                                    <div id="collapse1" class="collapse show" aria-labelledby="heading1" data-parent="#accordionone">
                                        <div class="card-body">
                                            <p>Making it simpler and more efficient for your customers to get in touch with your company and offering them tools to make their life easier while using your products or services can be a great reason to develop a mobile app or website.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card mb-30">
                                    <a class="collapsed card-header" id="heading2" href="#" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                        Our team great experience<span class="toggle_btn"></span>
                                    </a>
                                    <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordionone">
                                        <div class="card-body">
                                            <p>Our team has great experience in Mobile application development and web Development to develop scintillating apps for the end-user Our designs are uniquely tailored with the most updated technologies, to meet the tastes and needs of individual classes of customers.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card mb-30">
                                    <a class="collapsed card-header" id="heading3" href="#" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                        Control your online destiny<span class="toggle_btn"></span></a>
                                    <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordionone">
                                        <div class="card-body">
                                            <p>When you run your own website, you’re in control of both the content you produce and the platform you maintain. This ownership gives you two major benefits. You can control your brand story and business information.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="faq-img float-right">
                            <img src="assets/images/faq-1.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section><!--====== End Faq section ======-->
        <!--====== Start Footer Area ======-->
<%- include('comm/footer') -%>