<%- include('comm/header') -%>
    <!--====== End Header ======-->
    <!--====== Start breadcrumbs-section section ======-->
    <section class="breadcrumbs-section bg_cover" style="background-image: url(assets/images/bg/breadcrumbs-bg.jpg);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="breadcrumbs-content text-center">
                        <h1>Contact Us</h1>
                        <ul class="link">
                            <li><a href="/">Home</a></li>
                            <li class="active">Contact Us</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== End breadcrumbs-section section ======-->
    <!--====== Start contact-area-section section ======-->
    <section class="contact-area-section light-bg pt-120 pb-60">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title text-center mb-60">
                        <span class="span">Contact Us</span>
                        <h2>Get In Touch</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="contact-form">
                        <form>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form_group">
                                        <input type="text" class="form_control" placeholder="Enter Your Name" name="name"
                                            required>
                                        <i class="fas fa-user"></i>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form_group">
                                        <input type="text" class="form_control" placeholder="Enter Your Email" name="name"
                                            required>
                                        <i class="fas fa-envelope"></i>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form_group">
                                        <input type="text" class="form_control" placeholder="Enter Your Phone" name="name"
                                            required>
                                        <i class="fas fa-phone"></i>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form_group">
                                        <select>
                                            <option data-disply="Subject">Subject</option>
                                            <option value="1">Customer Support</option>
                                            <option value="2">Admin Support</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form_group">
                                        <textarea class="form_control" placeholder="Write Message" required></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form_group text-center">
                                        <button class="main-btn">Send Message</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="contact-info-wrapper">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="info-box text-center">
                            <div class="icon">
                                <i class="fas fa-map-marker-alt"></i>
                            </div>
                            <div class="info">
                                <h4>Contact us</h4>
                                <a href="tel:9588601260">+91-9588601260</a>
                                <a href="tel:9421601260">+91-9421601260</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="info-box text-center">
                            <div class="icon">
                                <i class="fas fa-map-marker-alt"></i>
                            </div>
                            <div class="info">
                                <h4>Email</h4>
                                <a href="mailto:octaright@gmail.com">octaright@gmail.com</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="info-box text-center">
                            <div class="icon">
                                <i class="fas fa-map-marker-alt"></i>
                            </div>
                            <div class="info">
                                <h4>Our Address</h4>
                                <p>Telangi paccha peth, Jod basavanna chowk solapur - INDIA</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== End contact-area-section section ======-->
    <!--====== Start Contact map section ======-->
    <section class="contact-map-section">
        <div class="map_box">
            <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d950.3777780427683!2d75.91422682916107!3d17.673299277053193!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe535f8619b008abc!2zMTfCsDQwJzIzLjkiTiA3NcKwNTQnNTMuMiJF!5e0!3m2!1sen!2sin!4v1643390676266!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe> -->
            <iframe id="gmap_canvas"
                src="https://maps.google.com/maps?q=new%20york&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed"></iframe>
        </div>
    </section>
    <!--====== End Contact map section ======-->
    <!--====== Start Footer Area ======-->
    <%- include('comm/footer') -%>