<%- include('comm/header') -%>
        <!--====== End Header ======-->
        <!--====== Start breadcrumbs-section section ======-->
        <section class="breadcrumbs-section bg_cover" style="background-image: url(assets/images/bg/breadcrumbs-bg.jpg);">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="breadcrumbs-content text-center">
                            <h1>Service Us</h1>
                            <ul class="link">
                                <li><a href="index.html">Home</a></li>
                                <li class="active">Software Development</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--====== End breadcrumbs-section section ======-->
        <!--====== Start service-details-area section ======-->
        <section class="service-details-area pt-120 pb-120 light-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="sidebar-widget-area">
                            <%- include('comm/services') -%>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="service-details-wrapper">
                            <div class="service-img">
                                <img src="assets/images/service/29.jpg" alt="">
                            </div>
                            <div class="service-content">
                                <span class="span"></span>
                                <h3>UI/UX - Graphic DESIGNER</h3>
                                <p>Aimed to Strengthen Your Brand Image with our Creative Designing We are one of the top graphic design company in Pune & Kota and provide various creative solutions for your business as we understand a company logo, promotional online banner, business cards, and many other graphics related things impact so much brand image. We create designs for online as well as offline businesses. A customer comes once and stays forever with you only if you have the capability to present your company in an appealing way. We have a single motto i.e. to offer such services which strengthen your brand image.
                                </p>
                                <!-- <p>Ut enim ad minim veniau quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                     Duis aute irure dolor in reprehenderit in velit esse cillum dolore eu fugiat nulla pariatur.</p> -->
                                <div class="features-wrapper">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="icon-box">
                                                <div class="icon">
                                                    <i class="flaticon-diamond"></i>
                                                </div>
                                                <div class="info">
                                                    <h4>Our Mission</h4>
                                                    <p>Best advisor company with 1000+ happy clients commodo consequat.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="icon-box">
                                                <div class="icon">
                                                    <i class="flaticon-technical-support"></i>
                                                </div>
                                                <div class="info">
                                                    <h4>Our Vission</h4>
                                                    <p>We have a strong customer support in the 24/7 days & month with subscriptions</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="content-block">
                                    <div class="row align-items-center">
                                        <div class="col-lg-8">
                                            <div class="block-text">
                                                <h3>How To Grow Business?</h3>
                                                <ul class="list">
                                                    <li>Nunc condimentum nibh sed dignissim fermentum.</li>
                                                    <li>Quisque et lectus non tortor suscipit imperdiet rhoncus tellus.</li>
                                                    <li>Fusce non mauris sed orci vestibulum facilisis at ut lorem.</li>
                                                    <li>Fusce eleifend urna nec metus finibus commodo.</li>
                                                    <li>Quisque et lectus non tortor imperdiet rhoncus tellus.</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="service-img">
                                                <img src="assets/images/service/single-service-2.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                                <!-- <h3>Our Working Process Demo Video</h3>
                                <p>Long established fact that a reader will be distracted by this a readable content of a page when looking at it’s layout.
                                     The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters
                                      opposed to using 'Content here, content here, making it look like readable English.</p>
                                <div class="video-box bg_cover" style="background-image: url(assets/images/service/single-service-3.jpg);">
                                    <div class="play-content">
                                        <a href="https://www.youtube.com/watch?v=2p9sIugbIwo&amp;t=17s" class="video-popup"><i class="fas fa-play"></i></a>
                                    </div>
                                </div>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                                     alteration in some form, by injected humour, or randomised words which don't look even slightly
                                      believable. If you are this going to use a passage of Lorem Ipsum, you need
                                       to be sure there isn't anything embarrassing hidden in the most first true generator middle of text.</p> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!--====== End service-details-area section ======-->
        <!--====== Start Footer Area ======-->
<%- include('comm/footer') -%>