<%- include('comm/header') -%>
        <!--====== End Header ======-->
        <!--====== Start Hero Section ======-->
        <section class="hero-area-v3">
            <div class="hero-slider-three">
                <div class="single-slider bg_cover" style="background-image: url(assets/images/bg/home-three-bg-1.jpg);">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-7">
                                <div class="hero-content">
                                    <span class="span">Product Development</span>
                                    <h1>Welcome to Octaright</h1>
                                    <p>Our support makes your dreams come true and grow your business.</p>
                                    <ul class="button">
                                        <li><a href="contact.html" class="main-btn active-btn">Get Started Now</a></li>
                                        <li><a href="service.html" class="main-btn">Our Services</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="hero-img">
                                    <img src="assets/images/header/header-three-img-1.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-slider bg_cover" style="background-image: url(assets/images/bg/hero-two-bg-1.jpg);">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-7">
                                <div class="hero-content">
                                    <span class="span">Product Development</span>
                                    <h1>The complete software solution</h1>
                                    <p>we deliver you a result that marks the difference between service and professionalism.</p>
                                    <ul class="button">
                                        <li><a href="contact.html" class="main-btn active-btn">Get Started Now</a></li>
                                        <li><a href="service.html" class="main-btn">Our Services</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="hero-img ">
                                    <img src="assets/images/header/header-three-img-1.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!--====== End Hero Section ======-->
        <!--====== Start About section ======-->
        <section class="about-area-v3 pt-120 pb-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="about-img mb-60">
                            <img src="assets/images/about/about-3.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-content-box mb-60">
                            <div class="section-title section-title-left" >
                                <span class="span">Our Support</span>
                                <h2>Provide Best Business Solutions For You</h2>
                            </div>
                            <p>Making it simpler and more efficient for your customers to get in touch with your company and offering them tools to make their life easier while using your products or services can be a great reason to develop a mobile app or website.</p>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="info-box mb-25 d-flex align-items-center">
                                        <div class="icon">
                                            <i class="fas fa-check"></i>
                                        </div>
                                        <div class="info">
                                            <h6>Information Technology</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="info-box mb-25 d-flex align-items-center">
                                        <div class="icon">
                                            <i class="fas fa-check"></i>
                                        </div>
                                        <div class="info">
                                            <h6>Planning & Strategy</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="info-box mb-25 d-flex align-items-center">
                                        <div class="icon">
                                            <i class="fas fa-check"></i>
                                        </div>
                                        <div class="info">
                                            <h6>100% Client Satisfaction</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="info-box mb-25 d-flex align-items-center">
                                        <div class="icon">
                                            <i class="fas fa-check"></i>
                                        </div>
                                        <div class="info">
                                            <h6>24/7 Customer Support</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ul class="button">
                                <li><a href="about.html" class="main-btn">More About Us</a></li>
                                <li><a href="tel:+919421601260" class="phone"><i class="fas fa-phone"></i>(+91)9421 601260</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section><!--====== End About section ======-->
        <!--====== Start Service section ======-->
        <section class="bebsa-service-v1 service-shape pt-120 pb-40 light-bg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="section-title text-center mb-85 wow slideInDown">
                            <span class="span">What We Do</span>
                            <h2>Our Great Services</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 wow fadeInRight" data-wow-delay="200ms">
                        <div class="service-item text-center mb-80">
                            <div class="service-icon">
                                <i class="flaticon-light-bulb"></i>
                            </div>
                            <div class="service-content">
                                <h3 class="title"><a href="service-details.html">Software Development</a></h3>
                                <p>Our experience team customized Android applications as well as incorporating many efficient features and functionalities.</p>
                                <a href="service-details.html" class="btn-link">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 wow fadeInRight" data-wow-delay="400ms">
                        <div class="service-item text-center mb-80">
                            <div class="service-icon">
                                <i class="flaticon-sales"></i>
                            </div>
                            <div class="service-content">
                                <h3 class="title"><a href="service-details.html">Digital Marketing</a></h3>
                                <p>we promote brands to connect with potential customers using the internet and other forms of digital communication.</p>
                                <a href="service-details.html" class="btn-link">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 wow fadeInRight" data-wow-delay="600ms">
                        <div class="service-item text-center mb-80">
                            <div class="service-icon">
                                <i class="flaticon-laptop"></i>
                            </div>
                            <div class="service-content">
                                <h3 class="title"><a href="service-details.html">Web Development</a></h3>
                                <p>Our well Experiece development team create an elegant and analyze both the behavior of the users and the core features they desire.</p>
                                <a href="service-details.html" class="btn-link">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 wow fadeInRight" data-wow-delay="800ms">
                        <div class="service-item text-center mb-80">
                            <div class="service-icon">
                                <i class="flaticon-web-programming"></i>
                            </div>
                            <div class="service-content">
                                <h3 class="title"><a href="service-details.html">UI/UX & Graphic<br>Designer</a></h3>
                                <p>UI & UX for Android Applications and Websites are both can be provided in our service</p>
                                <a href="service-details.html" class="btn-link">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 wow fadeInRight" data-wow-delay="1000ms">
                        <div class="service-item text-center mb-80">
                            <div class="service-icon">
                                <i class="flaticon-web-programming"></i>
                            </div>
                            <div class="service-content">
                                <h3 class="title"><a href="service-details.html">CRM Services</a></h3>
                                <p>You can easily manage calculations, maintenance and etc tasks with CRM. Easy to use</p>
                                <a href="service-details.html" class="btn-link">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 wow fadeInRight" data-wow-delay="1200ms">
                        <div class="service-item text-center mb-80">
                            <div class="service-icon">
                                <i class="flaticon-focus"></i>
                            </div>
                            <div class="service-content">
                                <h3 class="title"><a href="service-details.html">Video Editing</a></h3>
                                <p>Among many video editing service providers in the industry, Octaright is at the forefront, offering unmatched services at reasonable prices.</p>
                                <a href="service-details.html" class="btn-link">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--====== End Service section ======-->
        <!--====== Start Sponsor section ======-->
        <section class="sponsor-area-v1 main-bg pt-120 pb-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="sponsor-slide-one">
                            <div class="single-sponsor">
                                <img src="assets/images/sponsor/sponsor-1.png" alt="">
                            </div>
                            <div class="single-sponsor">
                                <img src="assets/images/sponsor/sponsor-2.png" alt="">
                            </div>
                            <div class="single-sponsor">
                                <img src="assets/images/sponsor/sponsor-3.png" alt="">
                            </div>
                            <div class="single-sponsor">
                                <img src="assets/images/sponsor/sponsor-4.png" alt="">
                            </div>
                            <div class="single-sponsor">
                                <img src="assets/images/sponsor/sponsor-5.png" alt="">
                            </div>
                            <div class="single-sponsor">
                                <img src="assets/images/sponsor/sponsor-2.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--====== Start Sponsor section ======-->
        <!--====== Start Intro-video section ======-->
        <section class="bebsa-intro-seciton bg_cover pt-130 pb-120" style="background-image: url(assets/images/bg/intro-bg-1.jpg);">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="intro-content text-center">
                            <a href="https://www.youtube.com/watch?v=2p9sIugbIwo&amp;t=17s" class="video-popup"><i class="fas fa-play"></i></a>
                            <h2 class="wow flipInX">Get More Best Experience
                                With Our Company</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section><!--====== End Intro-video section ======-->
        <!--====== Start Portfolio section ======-->
        <section class="portfolio-area portfolio-area-v2 pt-115 pb-100" id="masonry-portfolio">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7">
                        <div class="section-title section-title-left mb-55">
                            <span class="span">Our Portfolio</span>
                            <h2>Take A look our completed projects</h2>
                        </div>
                    </div>
                    <!-- <div class="col-lg-5">
                        <div class="filter-nav mb-55">
                            <ul class="filter-btn">
                                <li data-filter="*" class="active">All</li>
                                <li data-filter=".cat1">Website</li>
                                <li data-filter=".cat2">App</li>
                                <li data-filter=".cat3">UI Design</li>
                            </ul>
                        </div>
                    </div> -->
                </div>
                <div class="masonry-row row">
                    <div class="col-lg-4 col-md-6 col-sm-12 product-column cat2">
                        <div class="portfolio-item mb-30">
                            <div class="portfolio-img">
                                <img src="assets/images/portfolio/watermaths-01.png" alt="portfolio">
                                <div class="portfolio-overlay">
                                    <div class="portfolio-content">
                                        <div class="content">
                                            <span>Android App</span>
                                            <h5><a href="#">Watermaths</a></h5>
                                            <a href="assets/images/portfolio/watermaths-01.png" class="img-popup"><i class="fas fa-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 product-column cat1">
                        <div class="portfolio-item mb-30">
                            <div class="portfolio-img">
                                <img src="assets/images/portfolio/port-02.png" alt="portfolio">
                                <div class="portfolio-overlay">
                                    <div class="portfolio-content">
                                        <div class="content">
                                            <span>Business Website</span>
                                            <h5><a href="#">SysCloudeTech</a></h5>
                                            <a href="assets/images/portfolio/port-02.png" class="img-popup"><i class="fas fa-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 product-column cat3">
                        <div class="portfolio-item mb-30">
                            <div class="portfolio-img">
                                <img src="assets/images/portfolio/port-03.png" alt="portfolio">
                                <div class="portfolio-overlay">
                                    <div class="portfolio-content">
                                        <div class="content">
                                            <span>UI UX Design</span>
                                            <h5><a href="#">Shoplink UI</a></h5>
                                            <a href="assets/images/portfolio/port-03.png" class="img-popup"><i class="fas fa-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 product-column cat3">
                        <div class="portfolio-item mb-30">
                            <div class="portfolio-img">
                                <img src="assets/images/portfolio/port-04.png" alt="portfolio">
                                <div class="portfolio-overlay">
                                    <div class="portfolio-content">
                                        <div class="content">
                                            <span>UI UX Design</span>
                                            <h5><a href="#">Mobile Apps Design</a></h5>
                                            <a href="assets/images/portfolio/port-04.png" class="img-popup"><i class="fas fa-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 product-column cat3">
                        <div class="portfolio-item mb-30">
                            <div class="portfolio-img">
                                <img src="assets/images/portfolio/port-05.png" alt="portfolio">
                                <div class="portfolio-overlay">
                                    <div class="portfolio-content">
                                        <div class="content">
                                            <span>Digital Marketing</span>
                                            <h5><a href="#">Bulk Whatsapp Sender</a></h5>
                                            <a href="assets/images/portfolio/port-05.png" class="img-popup"><i class="fas fa-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6 col-sm-12 product-column cat3">
                        <div class="portfolio-item mb-30">
                            <div class="portfolio-img">
                                <img src="assets/images/portfolio/port-06.png" alt="portfolio">
                                <div class="portfolio-overlay">
                                    <div class="portfolio-content">
                                        <div class="content">
                                            <!-- <span>Digital Marketing</span> -->
                                            <h5><a href="#">Video Editing</a></h5>
                                            <a href="assets/images/portfolio/port-06.png" class="img-popup"><i class="fas fa-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!--====== End Portfolio section ======-->
        <!--====== Start Pricing section ======-->
        <!-- <section class="pricing-area-v2 pt-110 pb-80 light-bg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="section-title text-sm-center mb-60">
                            <span class="span">Great Offers</span>
                            <h2>Choose Your Best Offer</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="pricing-item mb-40">
                            <div class="pricing-bg"></div>
                            <div class="pricing-head">
                                <div class="title">
                                    <h4>Basic</h4> 
                                </div>
                                <div class="price">
                                    <h3><span class="sign">$</span>24.99 <span>/Month</span></h3>
                                </div>
                            </div>
                            <div class="pricing-content">
                                <div class="pricing-list">
                                    <ul class="list">
                                        <li>Up to 5 web page customization</li>
                                        <li>Meta description optimization</li>
                                        <li>Baseline data report</li>
                                        <li>Initial backlinks analysis</li>
                                        <li>10 reasearch word optimizations</li>
                                    </ul>
                                </div>
                                <div class="button-box text-center">
                                    <a href="#" class="main-btn">Choose Your Plan</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="pricing-item mb-40">
                            <div class="pricing-bg"></div>
                            <div class="pricing-head">
                                <div class="title">
                                    <h4>Standard</h4> 
                                </div>
                                <div class="price">
                                    <h3><span class="sign">$</span>24.99 <span>/Month</span></h3>
                                </div>
                            </div>
                            <div class="pricing-content">
                                <div class="pricing-list">
                                    <ul class="list">
                                        <li>Up to 5 web page customization</li>
                                        <li>Meta description optimization</li>
                                        <li>Baseline data report</li>
                                        <li>Initial backlinks analysis</li>
                                        <li>10 reasearch word optimizations</li>
                                    </ul>
                                </div>
                                <div class="button-box text-center">
                                    <a href="#" class="main-btn">Choose Your Plan</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="pricing-item mb-40">
                            <div class="pricing-bg"></div>
                            <div class="pricing-head">
                                <div class="title">
                                    <h4>Premium</h4> 
                                </div>
                                <div class="price">
                                    <h3><span class="sign">$</span>24.99 <span>/Month</span></h3>
                                </div>
                            </div>
                            <div class="pricing-content">
                                <div class="pricing-list">
                                    <ul class="list">
                                        <li>Up to 5 web page customization</li>
                                        <li>Meta description optimization</li>
                                        <li>Baseline data report</li>
                                        <li>Initial backlinks analyportsis</li>
                                        <li>10 reasearch word optimizations</li>
                                    </ul>
                                </div>
                                <div class="button-box text-center">
                                    <a href="#" class="main-btn">Choose Your Plan</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <!--====== End Pricing section ======-->
        <!--====== Start Features section ======-->
        <section class="features-area-v3 pt-120 pb-60">
            <div class="features-bg bg_cover" style="background-image: url(assets/images/bg/features-bg-two.jpg);"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="features-img mb-60">
                            <img src="assets/images/features/features-1.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="features-content-box mb-60">
                            <div class="section-title section-title-left section-white-title">
                                <span class="span">Why Choose Octaright</span>
                                <h2>We Are Trusted By More
                                    Than 3k+ Customers</h2>
                            </div>
                            <p>We have been a visionary and a reliable software engineering partner for world class brands a boutique digital for transformation.</p>
                            <div class="features-item">
                                <div class="chart_1" data-percent="90">
                                    <h2><span class="counter">90</span>%</h2>
                                </div>
                                <div class="info">
                                    <h4>Satisfied Customers</h4>
                                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolor.</p> -->
                                </div>
                            </div>
                            <div class="features-item">
                                <div class="chart_1" data-percent="90">
                                    <h2><span class="counter">81</span>%</h2>
                                </div>
                                <div class="info">
                                    <h4>Completed Project Successfully</h4>
                                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolor.</p> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!--====== End Features section ======-->

        <section class="bebsa-faq-v1 pt-110 pb-90 light-bg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <div class="section-title text-center mb-55">
                            <span class="span">WHY US?</span>
                            <h2>Reasons Your Business Needs Us..</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="faq-wrapper">
                            <div class="accordion" id="accordiontwo">
                                <div class="card mb-30">
                                    <a class="collapsed card-header" id="heading5" href="#" data-toggle="collapse" data-target="#collapse5" aria-expanded="true" aria-controls="collapse5">
                                        Customer service and support.<span class="toggle_btn"></span>
                                    </a>
                                    <div id="collapse5" class="collapse show" aria-labelledby="heading5" data-parent="#accordiontwo">
                                        <div class="card-body">
                                            <p>Making it simpler and more efficient for your customers to get in touch with your company and offering them tools to make their life easier while using your products or services can be a great reason to develop a mobile app or website.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card mb-30">
                                    <a class="collapsed card-header" id="heading6" href="#" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                                        Our team great experience<span class="toggle_btn"></span>
                                    </a>
                                    <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordiontwo">
                                        <div class="card-body">
                                            <p>Our team has great experience in Mobile application development and web Development to develop scintillating apps for the end-user Our designs are uniquely tailored with the most updated technologies, to meet the tastes and needs of individual classes of customers.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card mb-30">
                                    <a class="collapsed card-header" id="heading7" href="#" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                                        Control your online destiny<span class="toggle_btn"></span></a>
                                    <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#accordiontwo">
                                        <div class="card-body">
                                            <p>When you run your own website, you’re in control of both the content you produce and the platform you maintain. This ownership gives you two major benefits. You can control your brand story and business information.  </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--====== Start testimonial-area-v2 section ======-->
        <!-- <section class="testimonial-area-v2 pt-110 pb-110">
            <div class="container tl-container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 wow slideInDown">
                        <div class="section-title text-center mb-40">
                            <span class="span">Testimonial</span>
                            <h2>What’s Our Client Think
                                About Octaright</h2>
                        </div>
                    </div>
                </div>
                <div class="testimonial-wrapper row justify-content-center">
                    <div class="col-lg-8">
                        <div class="testimonial-slider-two">
                            <div class="testimonial-item text-center" data-thumb="assets/images/testimonial/thumb-4.jpg">
                                <div class="tl-title-thumb">
                                    <div class="tl-thumb">
                                        <img src="assets/images/testimonial/thumb-4.jpg" alt="">
                                        <i class="flaticon-left-quote"></i>
                                    </div>
                                    <div class="tl-title">
                                        <h4>Michle D. Collenese</h4>
                                        <p class="position">UI/UX Designer</p>
                                    </div>
                                </div>
                                <div class="tl-content">
                                    <p>We thank Flatworld Solutions for the wonderful job in helping us develop our program. Everyone was professional, excellent and hard working. Thanks to them, we were able to achieve our goal on time, and we look forward to continue working with them in the future.</p>
                                </div>
                            </div>
                            <div class="testimonial-item text-center" data-thumb="assets/images/testimonial/thumb-5.jpg">
                                <div class="tl-title-thumb">
                                    <div class="tl-thumb">
                                        <img src="assets/images/testimonial/thumb-5.jpg" alt="">
                                        <i class="flaticon-left-quote"></i>
                                    </div>
                                    <div class="tl-title">
                                        <h4>Michle D. Collenese</h4>
                                        <p class="position">UI/UX Designer</p>
                                    </div>
                                </div>
                                <div class="tl-content">
                                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classic literature from 45  making
                                            it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney
                                            College in Virginia, looked up one of the more obscure Latin words,
                                            consectetur There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.</p>
                                </div>
                            </div>
                            <div class="testimonial-item text-center" data-thumb="assets/images/testimonial/thumb-6.jpg">
                                <div class="tl-title-thumb">
                                    <div class="tl-thumb">
                                        <img src="assets/images/testimonial/thumb-6.jpg" alt="">
                                        <i class="flaticon-left-quote"></i>
                                    </div>
                                    <div class="tl-title">
                                        <h4>Michle D. Collenese</h4>
                                        <p class="position">UI/UX Designer</p>
                                    </div>
                                </div>
                                <div class="tl-content">
                                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classic literature from 45  making
                                            it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney
                                            College in Virginia, looked up one of the more obscure Latin words,
                                            consectetur There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.</p>
                                </div>
                            </div>
                            <div class="testimonial-item text-center" data-thumb="assets/images/testimonial/thumb-7.jpg">
                                <div class="tl-title-thumb">
                                    <div class="tl-thumb">
                                        <img src="assets/images/testimonial/thumb-7.jpg" alt="">
                                        <i class="flaticon-left-quote"></i>
                                    </div>
                                    <div class="tl-title">
                                        <h4>Michle D. Collenese</h4>
                                        <p class="position">UI/UX Designer</p>
                                    </div>
                                </div>
                                <div class="tl-content">
                                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classic literature from 45  making
                                            it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney
                                            College in Virginia, looked up one of the more obscure Latin words,
                                            consectetur There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.</p>
                                </div>
                            </div>
                            <div class="testimonial-item text-center" data-thumb="assets/images/testimonial/thumb-8.jpg">
                                <div class="tl-title-thumb">
                                    <div class="tl-thumb">
                                        <img src="assets/images/testimonial/thumb-8.jpg" alt="">
                                        <i class="flaticon-left-quote"></i>
                                    </div>
                                    <div class="tl-title">
                                        <h4>Michle D. Collenese</h4>
                                        <p class="position">UI/UX Designer</p>
                                    </div>
                                </div>
                                <div class="tl-content">
                                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classic literature from 45  making
                                            it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney
                                            College in Virginia, looked up one of the more obscure Latin words,
                                            consectetur There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.</p>
                                </div>
                            </div>
                            <div class="testimonial-item text-center" data-thumb="assets/images/testimonial/thumb-5.jpg">
                                <div class="tl-title-thumb">
                                    <div class="tl-thumb">
                                        <img src="assets/images/testimonial/thumb-5.jpg" alt="">
                                        <i class="flaticon-left-quote"></i>
                                    </div>
                                    <div class="tl-title">
                                        <h4>Michle D. Collenese</h4>
                                        <p class="position">UI/UX Designer</p>
                                    </div>
                                </div>
                                <div class="tl-content">
                                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classic literature from 45  making
                                            it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney
                                            College in Virginia, looked up one of the more obscure Latin words,
                                            consectetur There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-dots-images"></div>
                </div>
            </div>
        </section> -->
        <!--====== End testimonial-area-v2 section ======-->
        <!--====== Start Team section ======-->
        <!-- <section class="team-area-v1 pt-110 pb-90 light-bg">
            <svg id="shape-1" width="470px" height="281px"><path fill-rule="evenodd"  fill="rgb(237, 237, 237)" d="M-0.006,281.002 L-0.006,1.183 C3.186,0.788 6.378,0.394 9.570,-0.000 L470.000,-0.000 C468.187,2.076 466.058,3.891 463.758,5.318 C455.551,10.412 445.653,11.784 436.120,13.363 C412.378,17.292 388.139,23.584 369.360,38.610 C341.942,60.548 331.021,96.789 309.920,124.839 C284.016,159.273 243.406,180.124 201.752,191.299 C171.154,199.509 139.498,203.091 108.656,210.333 C77.814,217.576 47.012,228.970 23.542,250.223 C13.981,258.881 5.843,269.439 -0.006,281.002 "/></svg>
            <svg id="shape-2" width="397px" height="312px"><path fill-rule="evenodd"  fill="rgb(237, 237, 237)" d="M397.002,312.000 L397.002,-0.000 C339.630,19.053 285.125,51.531 249.190,102.208 C217.024,147.567 200.378,206.168 158.584,241.644 C129.959,265.942 93.011,276.116 56.822,282.471 C42.290,285.023 27.203,287.242 14.693,295.480 C8.638,299.466 3.360,305.325 0.003,312.000 L397.002,312.000 "/></svg>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 wow slideInLeft">
                        <div class="section-title text-center mb-35">
                            <span class="span">Meet Our Team</span>
                            <h2>Our Creative Leaders</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 wow slideInRight" data-wow-delay="100ms">
                        <div class="team-item mb-30 text-center">
                            <div class="team-img">
                                <img src="assets/images/team/team-1.jpg" alt="">
                            </div>
                            <div class="team-info">
                                <h4><a href="team-details.html">Kelvim D. Martino</a></h4>
                                <p class="position">CEO & Co Founder</p>
                                <ul class="social-link">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 wow slideInRight" data-wow-delay="300ms">
                        <div class="team-item mb-30 text-center">
                            <div class="team-img">
                                <img src="assets/images/team/team-2.jpg" alt="">
                            </div>
                            <div class="team-info">
                                <h4><a href="team-details.html">Shamim Hossain</a></h4>
                                <p class="position">UI/UX Designer</p>
                                <ul class="social-link">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 wow slideInRight" data-wow-delay="500ms">
                        <div class="team-item mb-30 text-center">
                            <div class="team-img">
                                <img src="assets/images/team/team-3.jpg" alt="">
                            </div>
                            <div class="team-info">
                                <h4><a href="team-details.html">Mostofa Kamal</a></h4>
                                <p class="position">Web Developer</p>
                                <ul class="social-link">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <!--====== End Team section ======-->
        <!--====== Start CTA section ======-->
        
        <!--====== End CTA section ======-->
        <!--====== Start blog-grid-v2 section ======-->
        <!-- <section class="blog-grid-v2 pt-120 light-bg pb-80">
            <div class="container">
                <div class="row align-items-end">
                    <div class="col-lg-6 wow slideInLeft">
                        <div class="section-title mb-60">
                            <span class="span">News & Blog</span>
                            <h2>Our Latest News & Blog</h2>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="button-box mb-60">
                            <a href="#" class="main-btn">View All News</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="200ms">
                        <div class="blog-post-item mb-40">
                            <div class="post-thumbnail">
                                <img src="assets/images/blog/blog-grid-4.jpg" alt="">
                            </div>
                            <div class="entry-content">
                                <div class="post-meta">
                                    <ul>
                                        <li><span><i class="far fa-calendar-alt"></i><a href="#">25 Nov 2020</a></span></li>
                                        <li><span><i class="far fa-user"></i><a href="#">By Admin</a></span></li>
                                    </ul>
                                </div>
                                <h3 class="title"><a href="blog-details.html">Technology And Business Quality Assurance</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="400ms">
                        <div class="blog-post-item mb-40">
                            <div class="post-thumbnail">
                                <img src="assets/images/blog/blog-grid-5.jpg" alt="">
                            </div>
                            <div class="entry-content">
                                <div class="post-meta">
                                    <ul>
                                        <li><span><i class="far fa-calendar-alt"></i><a href="#">25 Nov 2020</a></span></li>
                                        <li><span><i class="far fa-user"></i><a href="#">By Admin</a></span></li>
                                    </ul>
                                </div>
                                <h3 class="title"><a href="blog-details.html">Technology And Business Quality Assurance</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="600ms">
                        <div class="blog-post-item mb-40">
                            <div class="post-thumbnail">
                                <img src="assets/images/blog/blog-grid-6.jpg" alt="">
                            </div>
                            <div class="entry-content">
                                <div class="post-meta">
                                    <ul>
                                        <li><span><i class="far fa-calendar-alt"></i><a href="#">25 Nov 2020</a></span></li>
                                        <li><span><i class="far fa-user"></i><a href="#">By Admin</a></span></li>
                                    </ul>
                                </div>
                                <h3 class="title"><a href="blog-details.html">Technology And Business Quality Assurance</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <!--====== End blog-grid-v2 section ======-->
        <!--====== Start Footer Area ======-->
<%- include('comm/footer') -%>        