<%- include('comm/header') -%>
        <!--====== End Header ======-->
        <!--====== Start breadcrumbs-section section ======-->
        <section class="breadcrumbs-section bg_cover" style="background-image: url(assets/images/bg/breadcrumbs-bg.jpg);">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="breadcrumbs-content text-center">
                            <h1>Portfolio Masonry</h1>
                            <ul class="link">
                                <li><a href="/s">Home</a></li>
                                <li class="active">Portfolio Masonry</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--====== End breadcrumbs-section section ======-->
        <!--====== Start Portfolio section ======-->
        <section class="portfolio-area portfolio-area-v2 pt-115 pb-100" id="masonry-portfolio">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7">
                        <div class="section-title section-title-left mb-55">
                            <span class="span">Our Portfolio</span>
                            <h2>Take A look our completed projects</h2>
                        </div>
                    </div>
                    <!-- <div class="col-lg-5">
                        <div class="filter-nav mb-55">
                            <ul class="filter-btn">
                                <li data-filter="*" class="active">All</li>
                                <li data-filter=".cat1">Website</li>
                                <li data-filter=".cat2">App</li>
                                <li data-filter=".cat3">UI Design</li>
                            </ul>
                        </div>
                    </div> -->
                </div>
                <div class="masonry-row row">
                    <div class="col-lg-4 col-md-6 col-sm-12 product-column cat2">
                        <div class="portfolio-item mb-30">
                            <div class="portfolio-img">
                                <img src="assets/images/portfolio/watermaths-01.png" alt="portfolio">
                                <div class="portfolio-overlay">
                                    <div class="portfolio-content">
                                        <div class="content">
                                            <span>Android App</span>
                                            <h5><a href="#">Watermaths</a></h5>
                                            <a href="assets/images/portfolio/watermaths-01.png" class="img-popup"><i class="fas fa-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 product-column cat1">
                        <div class="portfolio-item mb-30">
                            <div class="portfolio-img">
                                <img src="assets/images/portfolio/port-02.png" alt="portfolio">
                                <div class="portfolio-overlay">
                                    <div class="portfolio-content">
                                        <div class="content">
                                            <span>Business Website</span>
                                            <h5><a href="#">SysCloudeTech</a></h5>
                                            <a href="assets/images/portfolio/port-02.png" class="img-popup"><i class="fas fa-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 product-column cat3">
                        <div class="portfolio-item mb-30">
                            <div class="portfolio-img">
                                <img src="assets/images/portfolio/port-03.png" alt="portfolio">
                                <div class="portfolio-overlay">
                                    <div class="portfolio-content">
                                        <div class="content">
                                            <span>UI UX Design</span>
                                            <h5><a href="#">Shoplink UI</a></h5>
                                            <a href="assets/images/portfolio/port-03.png" class="img-popup"><i class="fas fa-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 product-column cat3">
                        <div class="portfolio-item mb-30">
                            <div class="portfolio-img">
                                <img src="assets/images/portfolio/port-04.png" alt="portfolio">
                                <div class="portfolio-overlay">
                                    <div class="portfolio-content">
                                        <div class="content">
                                            <span>UI UX Design</span>
                                            <h5><a href="#">Mobile Apps Design</a></h5>
                                            <a href="assets/images/portfolio/port-04.png" class="img-popup"><i class="fas fa-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 product-column cat3">
                        <div class="portfolio-item mb-30">
                            <div class="portfolio-img">
                                <img src="assets/images/portfolio/port-05.png" alt="portfolio">
                                <div class="portfolio-overlay">
                                    <div class="portfolio-content">
                                        <div class="content">
                                            <span>Digital Marketing</span>
                                            <h5><a href="#">Bulk Whatsapp Sender</a></h5>
                                            <a href="assets/images/portfolio/port-05.png" class="img-popup"><i class="fas fa-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6 col-sm-12 product-column cat3">
                        <div class="portfolio-item mb-30">
                            <div class="portfolio-img">
                                <img src="assets/images/portfolio/port-06.png" alt="portfolio">
                                <div class="portfolio-overlay">
                                    <div class="portfolio-content">
                                        <div class="content">
                                            <!-- <span>Digital Marketing</span> -->
                                            <h5><a href="#">Video Editing</a></h5>
                                            <a href="assets/images/portfolio/port-06.png" class="img-popup"><i class="fas fa-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--====== End Portfolio section ======-->
        <!--====== Start Footer Area ======-->
<%- include('comm/footer') -%>