<!DOCTYPE html>
<html lang="en">
    
<!-- Mirrored from demo.codexpand.com/html/bebsa/service.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 27 Jan 2022 09:33:21 GMT -->
<head>
        <!--====== Required meta tags ======-->
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!--====== Title ======-->
        <title>Bebsa Corporate Business HTML Template</title>
        <!--====== Favicon Icon ======-->
        <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/png">
        <!--====== Bootstrap css ======-->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <!--====== Fontawesome css ======-->
        <link rel="stylesheet" href="assets/fonts/fontawesome/css/all.css">
        <!--====== Flaticon css ======-->
        <link rel="stylesheet" href="assets/fonts/flaticon/flaticon.css">
        <!--====== Fontawesome css ======-->
        <link rel="stylesheet" href="assets/fonts/flaticon/flaticon.css">
        <!--====== Magnific Popup css ======-->
        <link rel="stylesheet" href="assets/css/magnific-popup.css">
        <!--====== Slick css ======-->
        <link rel="stylesheet" href="assets/css/slick.css">
        <!--====== Nice select css ======-->
        <link rel="stylesheet" href="assets/css/nice-select.css">
        <!--====== Jquery ui css ======-->
        <link rel="stylesheet" href="assets/css/jquery-ui.min.css">
        <!--====== Animate css ======-->
        <link rel="stylesheet" href="assets/css/animate.css">
        <!--====== Default css ======-->
        <link rel="stylesheet" href="assets/css/default.css">
        <!--====== Style css ======-->
        <link rel="stylesheet" href="assets/css/style.css">
    </head>
    <body>
        <!--====== Start Preloader ======-->
        <div class="preloader">
            <div class="lds-ellipsis">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <!--====== End Preloader ======-->
        <!--====== Search From ======-->
		<div class="modal fade show" id="search-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form>
                        <div class="form_group">
                        	<input type="text" class="form_control" placeholder="Search here...">
                        	<button class="search_btn"><i class="fa fa-search"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div><!--====== Search From ======-->
        <!--====== Start Header ======-->
        <header class="header-area header-area-v1">
            <div class="header-top">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="top-left">
                                <ul>
                                    <li><span><i class="fas fa-envelope"></i><a href="mailto:info@webmail.com">info@webmail.com</a></span></li>
                                    <li><span><i class="fas fa-phone"></i><a href="tel:+9484844849493">+948 484 4849 493</a></span></li>
                                    <li><span><i class="fas fa-map-marker-alt"></i>234 Green Street, NY, USA</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="top-right">
                                <ul class="social-link">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
            <div class="header-navigation">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-lg-2 col-md-6 col-6">
                            <div class="site-branding">
                                <div class="brand-logo">
                                    <a href="index.html"><img src="assets/images/logo-1.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-4 col-4">
                            <div class="nav-menu">
                                <!-- Mobile Menu Logo -->
                                <div class="site-branding text-center ml-2 mr-2 mb-4 d-none">
                                    <div class="brand-logo">
                                        <a href="index.html"><img src="assets/images/logo-1.png" alt=""></a>
                                    </div>
                                </div>
                                <!-- Search form -->
                                <div class="nav-search d-none">
                                    <form>
                                        <div class="form_group">
                                            <input type="search" class="form_control" name="search" placeholder="Search Here">
                                        </div>
                                    </form>
                                </div>
                                <!-- navbar-close -->
                                <div class="navbar-close">
                                    <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                                </div>
                                <!-- main menu -->
                                <nav class="main-menu">
                                    <ul>
                                        <li class="menu-item menu-item-has-children"><a href="index.html">Home</a>
                                            <ul class="sub-menu">
                                                <li><a href="index.html">Home 01</a></li>
                                                <li><a href="index-2.html">Home 02</a></li>
                                                <li><a href="index-3.html">Home 03</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item"><a href="about.html">About</a></li>
                                        <li class="menu-item menu-item-has-children"><a href="#">Service</a>
                                            <ul class="sub-menu">
                                                <li><a href="service.html">Our Service</a></li>
                                                <li><a href="service-details.html">Service Details</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item menu-item-has-children"><a href="#">Our Shop</a>
                                            <ul class="sub-menu">
                                                <li><a href="shop-grid.html">Shop Grid</a></li>
                                                <li><a href="shop-list.html">Shop list</a></li>
                                                <li><a href="shop-details.html">Shop Details</a></li>
                                                <li><a href="cart.html">Cart</a></li>
                                                <li><a href="checkout.html">Checkout</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item menu-item-has-children"><a href="#">Pages</a>
                                            <ul class="sub-menu">
                                                <li><a href="portfolio.html">Our Portfolio</a></li>
                                                <li><a href="team.html">Our Team</a></li>
                                                <li><a href="team-details.html">Team Details</a></li>
                                                <li><a href="faq.html">Faq</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item menu-item-has-children"><a href="#">Blog</a>
                                            <ul class="sub-menu">
                                                <li><a href="blog-standard.html">Blog Standard</a></li>
                                                <li><a href="blog-details.html">Blog Details</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item"><a href="contact.html">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <!-- navbar toggler -->
                            <div class="navbar-toggler float-right">
                                <span></span><span></span><span></span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-2 col-2">
                            <div class="nav-right">
                                <ul class="float-right">
                                    <li><a href="#" class="search-btn" data-toggle="modal" data-target="#search-modal"><i class="fas fa-search"></i></a></li>
                                    <li><a href="#" class="cart-btn"><i class="fas fa-shopping-cart"></i><span class="count">2</span></a></li>
                                    <li><a href="contact.html" class="main-btn">Free Consultation</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
        </header>
        <!--====== End Header ======-->
        <!--====== Start breadcrumbs-section section ======-->
        <section class="breadcrumbs-section bg_cover" style="background-image: url(assets/images/bg/breadcrumbs-bg.jpg);">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="breadcrumbs-content text-center">
                            <h1>Our Service</h1>
                            <ul class="link">
                                <li><a href="index.html">Home</a></li>
                                <li class="active">Service</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--====== End breadcrumbs-section section ======-->
        <!--====== Start Service section ======-->
        <section class="bebsa-service-v1 pt-160 pb-40">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="service-item text-center mb-80">
                            <div class="service-icon">
                                <i class="flaticon-light-bulb"></i>
                            </div>
                            <div class="service-content">
                                <h3 class="title"><a href="service-details.html">Business Strategy</a></h3>
                                <p>One of the new trends in the banking industry question regardless of thisa type of an cloud solution</p>
                                <a href="service-details.html" class="btn-link">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="service-item text-center mb-80">
                            <div class="service-icon">
                                <i class="flaticon-sales"></i>
                            </div>
                            <div class="service-content">
                                <h3 class="title"><a href="service-details.html">Digital Marketing</a></h3>
                                <p>One of the new trends in the banking industry question regardless of thisa type of an cloud solution</p>
                                <a href="service-details.html" class="btn-link">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="service-item text-center mb-80">
                            <div class="service-icon">
                                <i class="flaticon-laptop"></i>
                            </div>
                            <div class="service-content">
                                <h3 class="title"><a href="service-details.html">Web Development</a></h3>
                                <p>One of the new trends in the banking industry question regardless of thisa type of an cloud solution</p>
                                <a href="service-details.html" class="btn-link">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="service-item text-center mb-80">
                            <div class="service-icon">
                                <i class="flaticon-graph"></i>
                            </div>
                            <div class="service-content">
                                <h3 class="title"><a href="service-details.html">Business Management</a></h3>
                                <p>One of the new trends in the banking industry question regardless of thisa type of an cloud solution</p>
                                <a href="service-details.html" class="btn-link">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="service-item text-center mb-80">
                            <div class="service-icon">
                                <i class="flaticon-web-programming"></i>
                            </div>
                            <div class="service-content">
                                <h3 class="title"><a href="service-details.html">User Interface</a></h3>
                                <p>One of the new trends in the banking industry question regardless of thisa type of an cloud solution</p>
                                <a href="service-details.html" class="btn-link">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="service-item text-center mb-80">
                            <div class="service-icon">
                                <i class="flaticon-focus"></i>
                            </div>
                            <div class="service-content">
                                <h3 class="title"><a href="service-details.html">Data Analysis</a></h3>
                                <p>One of the new trends in the banking industry question regardless of thisa type of an cloud solution</p>
                                <a href="service-details.html" class="btn-link">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--====== End Service section ======-->
        <!--====== Start Counter-area section ======-->
        <section class="counter-area-v2 pb-120">
            <div class="container">
                <div class="row counter-wrapper">
                    <div class="col-lg-3 col-md-6 col-sm-12 counter-column">
                        <div class="counter-item text-center">
                            <div class="icon">
                                <i class="flaticon-businessman"></i>
                            </div>
                            <div class="content">
                                <h2><span class="counter">3800</span>+</h2>
                                <p class="title">Happy Customer</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 counter-column">
                        <div class="counter-item text-center">
                            <div class="icon">
                                <i class="flaticon-suitcase"></i>
                            </div>
                            <div class="content">
                                <h2><span class="counter">2832</span>+</h2>
                                <p class="title">Completed Project</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 counter-column">
                        <div class="counter-item text-center">
                            <div class="icon">
                                <i class="flaticon-comments"></i>
                            </div>
                            <div class="content">
                                <h2><span class="counter">280</span>+</h2>
                                <p class="title">Team Member</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 counter-column">
                        <div class="counter-item text-center">
                            <div class="icon">
                                <i class="flaticon-medal"></i>
                            </div>
                            <div class="content">
                                <h2><span class="counter">98</span>+</h2>
                                <p class="title">Getting Award</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--====== End Counter-area section ======-->
        <!--====== Start CTA section ======-->
        <section class="cta-area-v2 main-bg pt-90 pb-100">
            <div class="cta-bg bg_cover" style="background-image: url(assets/images/bg/cta-bg-1.jpg);"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="section-title section-white-title section-title-left mb-35">
                            <span class="span">Call To Action</span>
                            <h2>Looking For A Project?</h2>
                        </div>
                        <div class="button-box">
                            <a href="contact.html" class="main-btn">Contact With Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--====== End CTA section ======-->
        <!--====== Start testimonial-area-v2 section ======-->
        <section class="testimonial-area-v2 pt-110 pb-110">
            <div class="container tl-container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="section-title text-center mb-40">
                            <span class="span">Testimonial</span>
                            <h2>What’s Our Client Think
                                About Devio</h2>
                        </div>
                    </div>
                </div>
                <div class="testimonial-wrapper row justify-content-center">
                    <div class="col-lg-8">
                        <div class="testimonial-slider-two">
                            <div class="testimonial-item text-center" data-thumb="assets/images/testimonial/thumb-4.jpg">
                                <div class="tl-title-thumb">
                                    <div class="tl-thumb">
                                        <img src="assets/images/testimonial/thumb-4.jpg" alt="">
                                        <i class="flaticon-left-quote"></i>
                                    </div>
                                    <div class="tl-title">
                                        <h4>Michle D. Collenese</h4>
                                        <p class="position">UI/UX Designer</p>
                                    </div>
                                </div>
                                <div class="tl-content">
                                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classic literature from 45  making
                                            it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney
                                            College in Virginia, looked up one of the more obscure Latin words,
                                            consectetur There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.</p>
                                </div>
                            </div>
                            <div class="testimonial-item text-center" data-thumb="assets/images/testimonial/thumb-5.jpg">
                                <div class="tl-title-thumb">
                                    <div class="tl-thumb">
                                        <img src="assets/images/testimonial/thumb-5.jpg" alt="">
                                        <i class="flaticon-left-quote"></i>
                                    </div>
                                    <div class="tl-title">
                                        <h4>Michle D. Collenese</h4>
                                        <p class="position">UI/UX Designer</p>
                                    </div>
                                </div>
                                <div class="tl-content">
                                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classic literature from 45  making
                                            it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney
                                            College in Virginia, looked up one of the more obscure Latin words,
                                            consectetur There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.</p>
                                </div>
                            </div>
                            <div class="testimonial-item text-center" data-thumb="assets/images/testimonial/thumb-6.jpg">
                                <div class="tl-title-thumb">
                                    <div class="tl-thumb">
                                        <img src="assets/images/testimonial/thumb-6.jpg" alt="">
                                        <i class="flaticon-left-quote"></i>
                                    </div>
                                    <div class="tl-title">
                                        <h4>Michle D. Collenese</h4>
                                        <p class="position">UI/UX Designer</p>
                                    </div>
                                </div>
                                <div class="tl-content">
                                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classic literature from 45  making
                                            it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney
                                            College in Virginia, looked up one of the more obscure Latin words,
                                            consectetur There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.</p>
                                </div>
                            </div>
                            <div class="testimonial-item text-center" data-thumb="assets/images/testimonial/thumb-7.jpg">
                                <div class="tl-title-thumb">
                                    <div class="tl-thumb">
                                        <img src="assets/images/testimonial/thumb-7.jpg" alt="">
                                        <i class="flaticon-left-quote"></i>
                                    </div>
                                    <div class="tl-title">
                                        <h4>Michle D. Collenese</h4>
                                        <p class="position">UI/UX Designer</p>
                                    </div>
                                </div>
                                <div class="tl-content">
                                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classic literature from 45  making
                                            it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney
                                            College in Virginia, looked up one of the more obscure Latin words,
                                            consectetur There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.</p>
                                </div>
                            </div>
                            <div class="testimonial-item text-center" data-thumb="assets/images/testimonial/thumb-8.jpg">
                                <div class="tl-title-thumb">
                                    <div class="tl-thumb">
                                        <img src="assets/images/testimonial/thumb-8.jpg" alt="">
                                        <i class="flaticon-left-quote"></i>
                                    </div>
                                    <div class="tl-title">
                                        <h4>Michle D. Collenese</h4>
                                        <p class="position">UI/UX Designer</p>
                                    </div>
                                </div>
                                <div class="tl-content">
                                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classic literature from 45  making
                                            it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney
                                            College in Virginia, looked up one of the more obscure Latin words,
                                            consectetur There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.</p>
                                </div>
                            </div>
                            <div class="testimonial-item text-center" data-thumb="assets/images/testimonial/thumb-5.jpg">
                                <div class="tl-title-thumb">
                                    <div class="tl-thumb">
                                        <img src="assets/images/testimonial/thumb-5.jpg" alt="">
                                        <i class="flaticon-left-quote"></i>
                                    </div>
                                    <div class="tl-title">
                                        <h4>Michle D. Collenese</h4>
                                        <p class="position">UI/UX Designer</p>
                                    </div>
                                </div>
                                <div class="tl-content">
                                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classic literature from 45  making
                                            it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney
                                            College in Virginia, looked up one of the more obscure Latin words,
                                            consectetur There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-dots-images"></div>
                </div>
            </div>
        </section><!--====== End testimonial-area-v2 section ======-->
        <!--====== Start Footer Area ======-->
        <footer class="bebsa-footer footer-v2 bg_cover" style="background-image: url(assets/images/footer/footer-bg-2.jpg);">
            <div class="container">
                <div class="newsletter-area pt-130 pb-65">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="section-title section-white-title">
                                <h2>Subscribe Newsletter</h2>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="newsletter-form">
                                <form>
                                    <div class="form_group">
                                        <input type="email" placeholder="E-Mail Address Here" class="form_control" name="email" required>
                                        <button class="main-btn">Subscribe Now</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-widget pb-60 pt-65">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="widget contact-widget mb-40">
                                <h4 class="widget-title">Contact Info</h4>
                                <div class="contact-info">
                                    <div class="single-info d-flex align-items-center">
                                        <div class="icon">
                                            <i class="fas fa-map-marker-alt"></i>
                                        </div>
                                        <div class="info ml-15">
                                            <p>383/ Romanda Tower, NYC North America</p>
                                        </div>
                                    </div>
                                    <div class="single-info d-flex align-items-center">
                                        <div class="icon">
                                            <i class="fas fa-phone"></i>
                                        </div>
                                        <div class="info ml-15">
                                            <p><a href="tel:+3292283930002">+3292 2839 30002</a></p>
                                            <p><a href="tel:+3292283930002">+(567) 2839 46788</a></p>
                                        </div>
                                    </div>
                                    <div class="single-info d-flex align-items-center">
                                        <div class="icon">
                                            <i class="fas fa-map-marker-alt"></i>
                                        </div>
                                        <div class="info ml-15">
                                            <p><a href="mailto:info@webgmail.com">info@webgmail.com</a></p>
                                            <p><a href="mailto:info@webgmail.com">honastand@gmail.com</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="widget useful-link-widget mb-40">
                                <h4 class="widget-title">Useful Links</h4>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <ul class="widget-link">
                                            <li><a href="#">About Us</a></li>
                                            <li><a href="#">Services</a></li>
                                            <li><a href="#">Portfolio</a></li>
                                            <li><a href="#">Teams</a></li>
                                            <li><a href="#">Contact Us</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-6">
                                        <ul class="widget-link  ">
                                            <li><a href="#">Need Help?</a></li>
                                            <li><a href="#">Blog & News</a></li>
                                            <li><a href="#">Our Mission</a></li>
                                            <li><a href="#">Testimonials</a></li>
                                            <li><a href="#">Privacy Policy</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="widget recent-news-widget mb-40">
                                <h4 class="widget-title">Latest From News</h4>
                                <div class="blog-item mb-30">
                                    <div class="post-thumb">
                                        <img src="assets/images/footer/thumb-1.jpg" alt="">
                                    </div>
                                    <div class="entry-content">
                                        <div class="post-meta">
                                            <ul>
                                                <li><span><a href="#">Jan 16, 2020</a></span></li>
                                            </ul>
                                        </div>
                                        <h3 class="title"><a href="#">Make Website Surpass Amongst All The</a></h3>
                                    </div>
                                </div>
                                <div class="blog-item mb-30">
                                    <div class="post-thumb">
                                        <img src="assets/images/footer/thumb-2.jpg" alt="">
                                    </div>
                                    <div class="entry-content">
                                        <div class="post-meta">
                                            <ul>
                                                <li><span><a href="#">Jan 16, 2020</a></span></li>
                                            </ul>
                                        </div>
                                        <h3 class="title"><a href="#">Make Website Surpass Amongst All The</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="widget instagram-widget mb-40">
                                <h4 class="widget-title">Instagram Gallery</h4>
                                <ul class="instagram-list">
                                    <li><a href="#"><img src="assets/images/footer/insta-1.jpg" alt="">
                                        <div class="insta-overlay">
                                            <i class="fab fa-instagram"></i>
                                        </div>
                                    </a></li>
                                    <li><a href="#"><img src="assets/images/footer/insta-2.jpg" alt="">
                                        <div class="insta-overlay">
                                            <i class="fab fa-instagram"></i>
                                        </div>
                                    </a></li>
                                    <li><a href="#"><img src="assets/images/footer/insta-3.jpg" alt="">
                                        <div class="insta-overlay">
                                            <i class="fab fa-instagram"></i>
                                        </div>
                                    </a></li>
                                    <li><a href="#"><img src="assets/images/footer/insta-4.jpg" alt="">
                                        <div class="insta-overlay">
                                            <i class="fab fa-instagram"></i>
                                        </div>
                                    </a></li>
                                    <li><a href="#"><img src="assets/images/footer/insta-5.jpg" alt="">
                                        <div class="insta-overlay">
                                            <i class="fab fa-instagram"></i>
                                        </div>
                                    </a></li>
                                    <li><a href="#"><img src="assets/images/footer/insta-1.jpg" alt="">
                                        <div class="insta-overlay">
                                            <i class="fab fa-instagram"></i>
                                        </div>
                                    </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-area">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="footer-social">
                                <ul class="social-link">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="copyright-text">
                                <p>Copyright &copy; Bebsa. All Rights Reserved.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--====== End Footer Area ======-->
        <!--====== back-to-top ======-->
        <a href="#" class="back-to-top" ><i class="fas fa-angle-up"></i></a>
        <!--====== Jquery js ======-->
        <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
        <script src="assets/js/vendor/jquery-1.12.4.min.js"></script>
        <!--====== Bootstrap js ======-->
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/popper.min.js"></script>
        <!--====== Slick js ======-->
        <script src="assets/js/slick.min.js"></script>
        <!--====== Magnific Popup js ======-->
        <script src="assets/js/jquery.magnific-popup.min.js"></script>
        <!--====== Isotope js ======-->
        <script src="assets/js/isotope.pkgd.min.js"></script>
        <!--====== Imagesloaded js ======-->
        <script src="assets/js/imagesloaded.pkgd.min.js"></script>
        <!--====== Easy Pie Chart ======-->
        <script src="assets/js/jquery.easypiechart.min.js"></script>
        <!--====== counterup js ======-->
        <script src="assets/js/jquery.counterup.min.js"></script>
        <!--====== waypoints js ======-->
        <script src="assets/js/waypoints.min.js"></script>
        <!--====== Nice select js ======-->
        <script src="assets/js/jquery.nice-select.min.js"></script>
        <!--====== Nice number js ======-->
        <script src="assets/js/jquery.nice-number.min.js"></script>
        <!--====== Jquery ui js ======-->
        <script src="assets/js/jquery-ui.min.js"></script>
        <!--====== wow js ======-->
        <script src="assets/js/wow.min.js"></script>
        <!--====== Main js ======-->
        <script src="assets/js/main.js"></script>
    </body>

<!-- Mirrored from demo.codexpand.com/html/bebsa/service.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 27 Jan 2022 09:33:21 GMT -->
</html>