<!DOCTYPE html>
<html lang="en">
    
<!-- Mirrored from demo.codexpand.com/html/bebsa/index-3 by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 27 Jan 2022 09:33:10 GMT -->
<head>
        <!--====== Required meta tags ======-->
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!--====== Title ======-->
        <title>Octaright</title>
        <!--====== Favicon Icon ======-->
        <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/png">
        <!--====== Bootstrap css ======-->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <!--====== Fontawesome css ======-->
        <link rel="stylesheet" href="assets/fonts/fontawesome/css/all.css">
        <!--====== Fontawesome css ======-->
        <link rel="stylesheet" href="assets/fonts/flaticon/flaticon.css">
        <!--====== Magnific Popup css ======-->
        <link rel="stylesheet" href="assets/css/magnific-popup.css">
        <!--====== Slick css ======-->
        <link rel="stylesheet" href="assets/css/slick.css">
        <!--====== Nice select css ======-->
        <link rel="stylesheet" href="assets/css/nice-select.css">
        <!--====== Jquery ui css ======-->
        <link rel="stylesheet" href="assets/css/jquery-ui.min.css">
        <!--====== Animate css ======-->
        <link rel="stylesheet" href="assets/css/animate.css">
        <!--====== Default css ======-->
        <link rel="stylesheet" href="assets/css/default.css">
        <!--====== Style css ======-->
        <link rel="stylesheet" href="assets/css/style.css">
    </head>
    <body>
        <!--====== Start Preloader ======-->
        <div class="preloader">
            <div class="lds-ellipsis">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <!--====== End Preloader ======-->
        <!--====== Search From ======-->
		<div class="modal fade show" id="search-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form>
                        <div class="form_group">
                        	<input type="text" class="form_control" placeholder="Search here...">
                        	<button class="search_btn"><i class="fa fa-search"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div><!--====== Search From ======-->
        <!--====== Start Header ======-->
        <header class="header-area-v3">
            <!-- Header Top -->
            <div class="header-top">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="top-left">
                                <ul>
                                    <li><span><i class="fas fa-envelope"></i><a href="mailto:octaright@gmail.com">octaright@gmail.com</a></span></li>
                                    <li><span><i class="fas fa-phone"></i><a href="tel:+919421601260">(+91)9421 601260</a></span></li>
                                    <!-- <li><span><i class="fas fa-map-marker-alt"></i>234 Green Street, NY, USA</span></li> -->
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="top-right">
                                <ul class="social-link">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
            <!-- Header Navigation -->
            <div class="header-navigation">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-lg-2 col-md-4 col-4">
                            <div class="site-branding">
                                <div class="brand-logo">
                                    <a href="index"><img src="assets/images/logo-1.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-3 col-2">
                            <div class="nav-menu">
                                <!-- Mobile Menu Logo -->
                                <div class="site-branding text-center ml-2 mr-2 mb-4 d-none">
                                    <div class="brand-logo">
                                        <a href="index"><img src="assets/images/logo-1.png" alt=""></a>
                                    </div>
                                </div>
                                <!-- Search form -->
                                <div class="nav-search d-none">
                                    <form>
                                        <div class="form_group">
                                            <input type="search" class="form_control" name="search" placeholder="Search Here">
                                        </div>
                                    </form>
                                </div>
                                <!-- Navbar Close Icon -->
                                <div class="navbar-close">
                                    <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                                </div>
                                <nav class="main-menu">
                                    <ul>
                                        <li class="menu-item"><a href="/">Home</a></li>
                                        <li class="menu-item"><a href="/about">About</a></li>
                                        <li class="menu-item menu-item-has-children"><a href="#">Service</a>
                                            <ul class="sub-menu">
                                                <li><a href="/softwareDevelopment">Software Development</a></li>
                                                <li><a href="/digitalMarketing">Digital Marketing</a></li>
                                                <li><a href="/webDevelopment">Web Development</a></li>
                                                <li><a href="/graphicDesigner">UI/UX & Graphic Designer</a></li>
                                                <li><a href="/crmServices">CRM Services</a></li>
                                                <li><a href="/videoEditing">Video Editing</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item"><a href="/portfolio">portfolio</a></li>
                                        <!-- <li class="menu-item menu-item-has-children"><a href="#">Our Shop</a>
                                            <ul class="sub-menu">
                                                <li><a href="shop-grid">Shop Grid</a></li>
                                                <li><a href="shop-list">Shop list</a></li>
                                                <li><a href="shop-details">Shop Details</a></li>
                                                <li><a href="cart">Cart</a></li>
                                                <li><a href="checkout">Checkout</a></li>
                                            </ul>
                                        </li> -->
                                        <!-- <li class="menu-item menu-item-has-children"><a href="#">Pages</a>
                                            <ul class="sub-menu">
                                                <li><a href="portfolio">Our Portfolio</a></li>
                                                <li><a href="team">Our Team</a></li>
                                                <li><a href="team-details">Team Details</a></li>
                                                <li><a href="faq">Faq</a></li>
                                            </ul>
                                        </li> -->
                                        <li class="menu-item"><a href="/blog-standard">Blog</a></li>
                                        <!-- <li class="menu-item menu-item-has-children"><a href="#">Blog</a>
                                            <ul class="sub-menu">
                                                <li><a href="blog-standard">Blog Standard</a></li>
                                                <li><a href="blog-details">Blog Details</a></li>
                                            </ul>
                                        </li> -->
                                        <li class="menu-item"><a href="/contact">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-5 col-6">
                            <div class="nav-right">
                                <ul class="float-right">
                                    <li><a href="#" class="search-btn" data-toggle="modal" data-target="#search-modal"><i class="fas fa-search"></i></a></li>
                                    <!-- <li><a href="#" class="cart-btn"><i class="fas fa-shopping-cart"></i><span class="count">2</span></a></li> -->
                                    <li>
                                        <a href="#" class="off-menu"><img src="assets/images/menu.png" alt=""></a>
                                        <div class="navbar-toggler float-right">
                                            <span></span><span></span><span></span>
                                        </div>
                                    </li>
                                </ul>
                                <div class="offcanvas-panel">
                                    <div class="offcanvas-panel-inner">
                                        <div class="panel-logo">
                                            <img src="assets/images/logo-1.png" alt="Image">
                                        </div>
                                        <div class="about-us">
                                            <h5 class="panel-widget-title">About Us</h5>
                                            <p>
                                                Octaright Technologies is Best Solution for Your Business, We Provide multi-services related to Your Business specially to those who are trying to alter their perceptions on exisiting businesses.
                                            </p>
                                        </div>
                                        <div class="contact-us">
                                            <h5 class="panel-widget-title">Contact Us</h5>
                                            <ul>
                                                <li>
                                                    <i class="fas fa-map-marker-alt"></i>
                                                    Telangi paccha peth, Jod basavanna chowk solapur - INDIA
                                                </li>
                                                <li>
                                                    <i class="fas fa-envelope-open"></i>
                                                    <a href="mailto:octaright@gmail.com">octaright@gmail.com</a>
                                                    <!-- <a href="mailto:info@barky.com">info@barky.com</a> -->
                                                </li>
                                                <li>
                                                    <i class="fas fa-phone"></i>
                                                    <a href="tel:9588601260">+91-9588601260</a>
                                                    <a href="tel:9421601260">+91-9421601260</a>
                                                </li>
                                            </ul>
                                        </div>
    
                                        <a href="#" class="panel-close"><i class="fas fa-times"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
        </header>