<div class="widget service-nav-widget mb-40">
    <h4 class="widget-title">Popular Services</h4>
    <ul class="service-nav">
        <li><i class="flaticon-light-bulb"></i><a href="/softwareDevelopment">Software Development</a></li>
        <li><i class="flaticon-sales"></i><a href="/digitalMarketing">Digital Marketing</a></li>
        <li><i class="flaticon-laptop"></i><a href="/webDevelopment">Web Development</a></li>
        <li><i class="flaticon-graph"></i><a href="/graphicDesigner">UI/UX & Graphic Designer</a></li>
        <li><i class="flaticon-web-programming"></i><a href="/crmServices">CRM Services</a></li>
        <li><i class="flaticon-focus"></i><a href="/videoEditing">Video Editing</a></li>
    </ul>
</div>
<div class="widget newsletter-widget mb-40">
    <div class="newsletter-box bg_cover" style="background-image: url(assets/images/newsletter-widget-bg.jpg);">
        <h3>Join Our</h3>
        <p>Sign up to get new exclusive offers from our latest solutions</p>
        <form>
            <div class="form_group">
                <input type="email" class="form_control" placeholder="Enter your mail" name="email">
            </div>
            <div class="form_group">
                <button class="main-btn">Subscribe Now</button>
            </div>
        </form>
    </div>
</div>
<!-- <div class="widget download-widget mb-40">
    <div class="download-item">
        <h5>Services Details</h5>
        <a href="#" class="pdf">Download PDF</a>
        <a href="#" class="icon"><i class="far fa-file-pdf"></i></a>
    </div>
    <div class="download-item">
        <h5>Managemnt Key</h5>
        <a href="#" class="pdf">Download PDF</a>
        <a href="#" class="icon"><i class="far fa-file-alt"></i></a>
    </div>
</div> -->